<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>POI Locator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="MapController.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin=""></script>
</head>
<body>

<div ng-app="MapApp" ng-controller="MapController">

  <form id="form" ng-submit="submitPoint()">
    <b>Insert a new Point of Interest</b><br><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" ng-model="form.name"><br>
    <label for="latitude">Latitude:</label><br>
    <input type="number" step="0.00001" id="latitude" ng-model="form.latitude"><br>
    <label for="longitude">Longitude:</label><br>
    <input type="number" step="0.00001" id="longitude" ng-model="form.longitude"><br>
    <input type="submit" value="Submit"><br>
  </form><br><br>

  <div class="table-scrollable" ng-show="list.length > '0'" ng-init="getPoints()">
    <b>Points of Interest added:</b><br>
    <table class="table table-striped table-bordered table-hover table-condensed">

      <tr ng-repeat="item in list">
        <td class="text-left">
          <small>{{item.name}}</small>
        </td>
        <td class="text-left" data-ng-init="addMarker(item.latitude, item.longitude, item.name)">
          {{item.latitude}}, {{item.longitude}}
        </td>
      </tr>
      </tbody>

    </table>

  </div><br><br>

  <div id="mapid" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="width: 600px; height: 400px; position: relative;" tabindex="0" ng-init="initMap()"></div>

</div>
